<script src="/js/script.min.js"></script>

<script type="text/javascript">
  // load all files asynchronously!
  var script = $script;
  script.path('/js/');
  $script('jquery.min.js', 'jquery');

  $script.ready('jquery', function() {
    //$script('jquery.smoothState.min.js');

  })

  $script('headroom.min.js', 'headroom');
  $script.ready('headroom', function() {
    $script('main.js');
  });



  {% if page.url == "/projecten/woordfruit/" or page.url == "/projecten/roffa-mon-amour/" %}
    $script.get('http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js', function () {
      $script('field.js');
    });
  {% endif %}

  {% if page.url=="/" %}
    $script('glitchnoise.js');
  {% endif %}

  $script.get('https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js', function () {
    WebFont.load({
      google: {
        families: ['Montserrat', 'Lora']
      },
      typekit: {
         id: 'ptu0nia'
       }
    });
  });

  $script('maps.js', 'maps');
  $script.ready('maps', function(){
    {% if page.url == "/contact/" %}
        $script.get('https://maps.googleapis.com/maps/api/js?key=AIzaSyDRE8FvrhtgkNT2YLiYNAPl9pxZYrgOWZ0&callback=initMap', function () {
      })
    {% endif %}

  });



</script>
