{% include top.html %}
<body>
  <div class="site m-scene" id="main">
    <header class="header scene_element scene_element--fadein">
      {% include menu.html %}
    </header>
    <main class="scene_element scene_element--fadein">
    {{ content }}
    </main>
    <footer>
    </footer>
  </div>
  {% include analytics.html %}
  <script src="/js/script.min.js"></script>

  <script type="text/javascript">
    // load all files asynchronously!
    var script = $script;
    script.path('/js/');
    $script('jquery.min.js', 'jquery')
    $script('jquery.smoothState.min.js')
    $script.ready('jquery.smoothState.min', function() {
      $script('functions.js')
    })

    {% if page.url == "/" %}
      $script.get('http://example.com/base.js', function () {
        $script('field.js')
      })
    {% endif %}

    $script.get('https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js', function () {
      WebFont.load({
        google: {
          families: ['Montserrat', 'Lora']
        },
        typekit: {
           id: 'ptu0nia'
         }
      });
    })

  </script>




</body>
</html>
